<!DOCTYPE html>
<html>
    <head>
        <title>Formulaires</title>
    </head>
    
    <body>
        <h1>Inscription </h1>
        
        <form method="post" action="traite">
            
            <label for="pseudo">pseudo  </label><br>
            <input type="text" name="pseudo" id="pseudo"><br><br>

        

            <label for="pass">Password (8 characters minimum):</label>
            <input type="password" id="pass" name="password"
           minlength="8" required>

            <label for="confirmation du mot de passe">confirmation du mot de passe  </label><br>
            
            <input type="text" name="Comfirmation du mot de passe" id="comfirmation du mot de passe"></textarea><br><br>
            
                
            <label for="email">Email  </label><br>
            <input type="text" name="mot de passe" id="mot de passe"></textarea><br><br>

            <input type="submit" value="Envoyer">
        </form>
    </body>
</html>