{% extends "layout.html" %}
{% block content %}

<div class="row">
    <div class="col-12 text-center">

<h1>Inscription </h1>
        
        <form method="POST" action="/signup">
            
            <label for="username">Pseudo  </label><br>
            <input type="text" name="username" id="username"><br><br>

            <label for="email">Email  </label><br>
            <input type="text" name="email" id="email"><br><br>

            <label for="password">Mot de passe (8 characters minimum):</label><br>
            <input type="password" id="password" name="password"
            minlength="8"><br>

            <label for="password_1">Comfirmation du Mot de passe (8 characters minimum):</label><br>
            <input type="password" id="password_1" name="password_1"
            minlength="8"><br>
            
            <input type="submit" value="Envoyer">

            {% if error %}
                <p style="color:#F03; font-size:10px;">{{ error }}</p>
            {% elif existing %}
                <p style="color:#F03; font-size:10px;">{{ existing }}</p>    
            {% elif success %}
                <p style="color:green; font-size:10px;">{{ success }}</p>    
        
            {% endif %}
        </form>

    </div>
</div>

{% endblock %}