{% extends "layout.html" %}
{% block content %}
{{ super() }}
<div class="row">
    <div class="col-12">

        
        <h1>Connexion</h1>

        {% for user in user %}
            {{user}}
        {% endfor %}
        <form method="POST" action="/request_login">
            
            <label for="username">Pseudo</label><br>
            <input type="text" name="username" id="username"><br><br>

            <label for="password">Mot de passe  </label><br>
            <input type="text" name="password" id="password"><br><br>

            <input type="submit" value="Login">
        </form>

    </div>
</div>

<script src="/js/image.js"></script>

{% endblock %}